.whole-data-container{
    width: 100%;
    background-color: aliceblue;
    position: relative;
}
.library-cards-container{
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    list-style-type: none;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
}
.library-card{
    background-color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 50px;
}
.library-icon{
    font-size: 30px;
}
.plans-recent-releases-container{
    display: flex;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 350px;
}

/* .plans-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    background-color: white;
    height: 100%;
    margin-left: 40px;
    border-radius: 10px;
}
.plans-container{
    display: flex;
    gap: 35px;
    list-style: none;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 90%;
    border-radius: 10px;
    padding: 10px 10px 5px 45px;
}
.plan-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    gap: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.plan-container>img{
    height: 150px;
    width: 200px;
}
.dots{
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;
    left: 20%;
}
.dots>span{
    font-size: 30px;
}
.load-more{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.loading-button{
    width: 90px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
} */
.recent-release-containers{
    background-color: white;
    width: 30%;
    padding: 30px 20px 90px 20px;
    margin-right: 30px;
    height: 430px;
}
.countries{
    display: flex;
    justify-content: space-between;
}
.release{
    color: #34aeeb;
}
.select{
    padding: 10px;
    outline: none;
}
.hr{
    margin: 20px 0px;
}
.timeline {
    position: relative;
    height: 100%;
    max-width: 900px;
    list-style: none;
    overflow-x: scroll;
    scrollbar-width: none;
}
.timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}
.timeline-item {
    position: relative;
    margin: 20px 0;
}
.timeline-item::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    top: 0;
    left: -5px;
}
.timeline-content {
    position: relative;
    max-width: 70%;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 30px;
}
.timeline-date {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}
.timeline-desc {
    color: #777;
}
/* .left{
    position: absolute;
    top: 30%;
    left: 45px;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.right{
    position: absolute;
    top: 30%;
    right: 28%;
    border: none;
    border-radius: 50%;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
} */
@media screen and (max-width:1020px) {
    .library-card{
        padding: 10px;
        min-width: 150px;
    }
    .countries{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .timeline{
        min-width: 100%;
    }
    .timeline-content{
        margin: 0px;
    }
    .timeline-item::before{
        left: -30px;
    }
    .plans-recent-releases-container{
        gap: 5px;
        width: 100%;
    }
}